* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #e84576;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .center_container {
  width: 800px;
  height: 800px;
  background-color: #aad9eb;
  border-radius: 50%;
  border: 3px solid #fff;
  position: relative;
  display: flex;
  justify-content: center;
}
.container .center_container::after {
  content: '';
  width: 805px;
  height: 805px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #fff;
  border-radius: 50%;
}
.container .center_container .title {
  position: absolute;
  font-size: 50px;
  margin-top: 50px;
  color: #fff;
  color: #19a9c2;
}
.container .center_container .tree {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.container .center_container .tree .lamp {
  width: 50px;
  height: 50px;
  background-color: #ffff37;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  transform: translateY(75px);
  z-index: 11;
}
.container .center_container .tree .lamp::after {
  content: '';
  width: 50px;
  height: 50px;
  border: 5px solid #ffcf30;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}
.container .center_container .tree .treepart {
  border-style: solid;
  border-width: 100px 70px 100px 70px;
  border-color: transparent transparent #1a5f23 transparent;
  width: 0px;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  z-index: 10;
}
.container .center_container .tree .treepart .treecenter {
  border-style: solid;
  border-width: 85px 55px 85px 55px;
  border-color: transparent transparent #2e7c32 transparent;
  width: 0px;
  height: 0px;
  margin-top: 20px;
  border-radius: 10px;
}
.container .center_container .tree .treepart .ball {
  width: 30px;
  height: 30px;
  background-color: #fb5e93;
  position: absolute;
  z-index: 100;
  top: 60px;
  border-radius: 50%;
  transform: translateX(-15px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .center_container .tree .treepart .ball::after {
  content: '';
  width: 80%;
  height: 80%;
  position: absolute;
  background-color: #fc90c7;
  border-radius: 50%;
}
.container .center_container .tree .treepart2 {
  border-style: solid;
  border-width: 120px 100px 120px 100px;
  border-color: transparent transparent #1a5f23 transparent;
  width: 0px;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  position: absolute;
  z-index: 9;
  transform: translateY(20px);
}
.container .center_container .tree .treepart2 .treecenter {
  border-style: solid;
  border-width: 100px 80px 100px 80px;
  border-color: transparent transparent #2e7c32 transparent;
  width: 0px;
  height: 0px;
  margin-top: 20px;
  border-radius: 15px;
}
.container .center_container .tree .treepart2 .ball1 {
  width: 20px;
  height: 20px;
  background-color: #c8a2ff;
  position: absolute;
  z-index: 100;
  top: 85px;
  border-radius: 50%;
  transform: translateX(-45px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .center_container .tree .treepart2 .ball1::after {
  content: '';
  width: 80%;
  height: 80%;
  position: absolute;
  background-color: #e6c9fa;
  border-radius: 50%;
}
.container .center_container .tree .treepart2 .ball2 {
  width: 35px;
  height: 35px;
  background-color: #84e1fa;
  position: absolute;
  z-index: 100;
  top: 65px;
  border-radius: 50%;
  transform: translateX(25px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .center_container .tree .treepart2 .ball2::after {
  content: '';
  width: 80%;
  height: 80%;
  position: absolute;
  background-color: #acf0ff;
  border-radius: 50%;
}
.container .center_container .tree .treepart3 {
  border-style: solid;
  border-width: 170px 150px 170px 150px;
  border-color: transparent transparent #1a5f23 transparent;
  width: 0px;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: absolute;
  z-index: 8;
}
.container .center_container .tree .treepart3 .treecenter {
  border-style: solid;
  border-width: 150px 125px 150px 125px;
  border-color: transparent transparent #2e7c32 transparent;
  width: 0px;
  height: 0px;
  margin-top: 20px;
  border-radius: 20px;
}
.container .center_container .tree .treepart3 .ball1 {
  width: 30px;
  height: 30px;
  background-color: #62a959;
  position: absolute;
  z-index: 100;
  top: 120px;
  border-radius: 50%;
  transform: translateX(-75px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .center_container .tree .treepart3 .ball1::after {
  content: '';
  width: 80%;
  height: 80%;
  position: absolute;
  background-color: #7fe581;
  border-radius: 50%;
}
.container .center_container .tree .treepart3 .ball2 {
  width: 35px;
  height: 35px;
  background-color: #84e1fa;
  position: absolute;
  z-index: 100;
  top: 95px;
  border-radius: 50%;
  transform: translateX(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .center_container .tree .treepart3 .ball2::after {
  content: '';
  width: 80%;
  height: 80%;
  position: absolute;
  background-color: #acf0ff;
  border-radius: 50%;
}
.container .center_container .tree .treepart3 .ball3 {
  width: 30px;
  height: 30px;
  background-color: #c8a2ff;
  position: absolute;
  z-index: 100;
  top: 120px;
  border-radius: 50%;
  transform: translateX(75px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .center_container .tree .treepart3 .ball3::after {
  content: '';
  width: 80%;
  height: 80%;
  position: absolute;
  background-color: #e6c9fa;
  border-radius: 50%;
}
.container .center_container .tree .treepart4 {
  border-style: solid;
  border-width: 230px 200px 230px 200px;
  border-color: transparent transparent #1a5f23 transparent;
  width: 0px;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  position: absolute;
  z-index: 7;
  transform: translateY(-20px);
}
.container .center_container .tree .treepart4 .treecenter {
  border-style: solid;
  border-width: 200px 170px 200px 170px;
  border-color: transparent transparent #2e7c32 transparent;
  width: 0px;
  height: 0px;
  margin-top: 40px;
  border-radius: 25px;
}
.container .center_container .tree .treepart4 .ball1 {
  width: 30px;
  height: 30px;
  background-color: #c8a2ff;
  position: absolute;
  z-index: 100;
  top: 180px;
  border-radius: 50%;
  transform: translateX(-115px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .center_container .tree .treepart4 .ball1::after {
  content: '';
  width: 80%;
  height: 80%;
  position: absolute;
  background-color: #e6c9fa;
  border-radius: 50%;
}
.container .center_container .tree .treepart4 .ball2 {
  width: 35px;
  height: 35px;
  background-color: #84e1fa;
  position: absolute;
  z-index: 100;
  top: 140px;
  border-radius: 50%;
  transform: translateX(-45px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .center_container .tree .treepart4 .ball2::after {
  content: '';
  width: 80%;
  height: 80%;
  position: absolute;
  background-color: #acf0ff;
  border-radius: 50%;
}
.container .center_container .tree .treepart4 .ball3 {
  width: 30px;
  height: 30px;
  background-color: #f79871;
  position: absolute;
  z-index: 100;
  top: 180px;
  border-radius: 50%;
  transform: translateX(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .center_container .tree .treepart4 .ball3::after {
  content: '';
  width: 80%;
  height: 80%;
  position: absolute;
  background-color: #fcbda1;
  border-radius: 50%;
}
.container .center_container .tree .treepart4 .ball4 {
  width: 30px;
  height: 30px;
  background-color: #c8a2ff;
  position: absolute;
  z-index: 100;
  top: 140px;
  border-radius: 50%;
  transform: translateX(80px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .center_container .tree .treepart4 .ball4::after {
  content: '';
  width: 80%;
  height: 80%;
  position: absolute;
  background-color: #e6c9fa;
  border-radius: 50%;
}
.container .center_container .tree .wood {
  width: 85px;
  height: 170px;
  background-color: #755549;
  border-radius: 10px;
  z-index: 12;
  top: 400px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}
.container .center_container .tree .wood::after {
  content: '';
  width: 65px;
  height: 150px;
  background-color: #a88274;
  position: absolute;
  border-radius: 6px;
}
